@font-face {
  font-family: "NorseBold";
  src: url("Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-container {
    flex: 1 1 33%;
    position: relative;
    border: 2px solid blue;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-container {
    flex: 2 1 66%;
    border: 2px solid red;
  }
  
  .logo-container {
    position: absolute;
    top: 175px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 80px;
    font-family: "NorseBold", sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .logo-container img {
    height: 100px;
  }

  .credit-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    padding: 15px 0;
    box-sizing: border-box;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
  }

  .credit-container a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .credit-container a:hover {
    color: #add8e6;
    text-decoration: none;
  }

  .header-container {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
    padding-top: 130px;
    padding-left: 30px;
    padding-bottom: 60px;
    background-color: #f8f9fa;
  }

  .form-container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-row {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form-row label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-row input {
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


  h2 {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    text-align: left;
    padding-right: 836px;
    white-space: nowrap;
  }